# Server configuration
PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://vishnurajendranv76_db_user:vishnu2007@ac-tqf93tz-shard-00-00.sin728q.mongodb.net:27017,ac-tqf93tz-shard-00-01.sin728q.mongodb.net:27017,ac-tqf93tz-shard-00-02.sin728q.mongodb.net:27017/ecoeats?ssl=true&replicaSet=atlas-mrk57q-shard-0&authSource=admin&retryWrites=true&w=majority
